/* Genérico */

html, #latestProducts
{	
    background-color: #d9d9d9;
}
body
{
	margin: 0;
}
ul
{
	list-style-type: none;
}
* {
	text-decoration: none;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
header
{
    background-color: #FFFFFF;
    position: fixed;
    z-index: 10;
    border-bottom: solid 5px #000;
    height: 150px;
    width: 100%;
}
h2
{
	margin: 0;
	padding: 15px 0;
}
a
{
	color: black;
}
a:hover, button:hover, .preBtn>i:hover, .nextBtn>i:hover
{
    color: #F00;
    text-decoration: none;
}
a, img, button, .pictureGrid article, i
{
    transition: .5s;
}

/* Cuerpo */
.mainContent
{
	padding-top: 150px;
}
main, section
{
	position: relative;
}

/* Máximo tamaño web */

/* Estilo del menú principal */
.logo {
    margin: 0 auto;
    position: relative;
	max-height: 100%
}

.logo>img {
    width: 280px;
}
#menuPrincipal
{
    position: relative;
    
}
#menuPrincipal>ul
{
	display: flex;
	margin: 0 50px;
	padding: 0;
}
#menuPrincipal>ul>li:first-child
{
	width: initial;
    margin: 12px auto 0 0;
   
}
#menuPrincipal>ul>li:last-child
{
	width: 300px;
   
}
#menuPrincipal>ul>li>input
{
	width: 100%;
   
}
#menuPrincipal>ul>li
{
	width: 200px;
    margin: 35px 0 0 0;
    font-size: 18pt;
    text-align: center;
}


/* Estilo del slider de index.php */
.slider_background
{
	filter: blur(6px);
    position: absolute;
    max-width: 100%;;
}
.slider_picture
{
	display: flex;
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}

/* Estilo de la zona de proyectos destacados de index.html */
#latestProducts
{
	z-index: 1;
}
.productsGrid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
        grid-gap: 30px 30px;
        padding: 0 10%;
}
.productsGrid img
{
    display: block;
    margin: 0 auto;
}

#latestProducts>div>ul>li
{
    margin-right: 100px;
}
#latestProducts>div>ul>li:last-child
{
	margin-right: 0;
}
.fotolatestProducts
{
	max-width: 360px;
}

@media all and (min-width: 720px)
{
	/********* Sections *********/
	
	.normalSection
	{
		padding: 0 15%;
	}
    .productsGrid
    {
        grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
        grid-gap: 30px 30px;
        padding: 0 10%;
    }
    .productsGrid img 
    {
        width: 100%;
    }
}
