/* Genérico */

body
{
	margin: 0;
}
ul
{
	list-style-type: none;
}
header
{
	background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    height: 150px;
}
a
{
	text-decoration: none;
}
#proyectosDestacados, #sliderInicio
{
	position: relative;
    background-color: #3c3c3c;
}

/* Máximo tamaño web */

/* Estilo del menú principal */
.logo {
    margin: 0 auto;
    position: relative;
	max-height: 100%
}

.logo>img {
    width: 280px;
}
#menuPrincipal
{
    position: relative;
    
}
#menuPrincipal>ul
{
	display: flex;
	margin: 0 50px;
	padding: 0;
}
#menuPrincipal>ul>li:first-child
{
	width: initial;
    margin: 12px auto 0 0;
   
}
#menuPrincipal>ul>li:last-child
{
	width: 300px;
   
}
#menuPrincipal>ul>li>input
{
	width: 100%;
   
}
#menuPrincipal>ul>li
{
	width: 200px;
    margin: 35px 0 0 0;
    font-size: 18pt;
    text-align: center;
}


/* Estilo del slider de index.php */
.slider_background
{
	filter: blur(6px);
    position: absolute;
    max-width: 100%;;
}
.slider_picture
{
	display: flex;
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}

/* Estilo de la zona de proyectos destacados de index.html */

#proyectosDestacados
{
	background-color: #d9d9d9;
}
#proyectosDestacados>div, #masDeMi
{
	width:	1280px;
	margin: 0 auto;
	padding: 50px 0;
}
#proyectosDestacados>div>ul
{
	display: flex;
	padding: 0;
}

#proyectosDestacados>div>h2
{
	margin: 0;
}
#proyectosDestacados>div>ul>li
{
    margin-right: 100px;
}
#proyectosDestacados>div>ul>li:last-child
{
	margin-right: 0;
}
.fotoProyectosDestacados
{
	max-width: 360px;
}
